h1{
    text-align: center;
}
li{
    text-align: center;
}
body {
    background-image: linear-gradient(to right, rgb(168, 167, 243),rgb(137, 207, 240),rgb(231, 176, 231),rgb(238, 173, 209),rgb(179, 185, 235));
    }
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
}